<div class="row">
  <div class="col"></div>
  <div class="col">
    <div class="form-group">
      <select (change)="onChangeRole($event.target.value)" class="form-control">
         <option value="all" disabled selected>Sort By Role</option>
         <option value="all">All</option>
         <option *ngFor="let member of members | async">{{member.role}}</option>
      </select>
    </div>
  </div>
  <div class="col">
    <div class="form-group">
      <select (change)="onChangeRole($event.target.value)" class="form-control">
         <option value="all" disabled selected>Sort By City</option>
         <option value="all">All</option>
         <option *ngFor="let member of members | async">{{member.city}}</option>
      </select>
    </div>
  </div>
</div>




<ul>
  <li *ngFor='let member of members | async | filter:filterOption'>
    <a [routerLink]="['/members/' + member.$key]">{{member.name}}</a>
  </li>
</ul>
